<section class="container">
    <div>
        <h1>Ingresa tu email y contraseña <br> para iniciar secion</h1>
    </div>
    <div class="form-group">
        <form class="form" (ngSubmit)="login()">
            <div>
                <label for="identifier">E-mail</label><br>
                <input name="identifier" id="text" type="text" [(ngModel)]="authRequest.identifier" required>
            </div>
            <div>
                <label for="Password">Password</label><br>
                <input name="password" id="Password" type="text" [(ngModel)]="authRequest.password" required>
            </div>
            <input class="btn-continue" type="submit" value="Continuar">
            <div class="line-with-o">
                <span>o</span>
            </div>
            <button class="btn-count"><a routerLink="/register">Crear cuenta</a> </button>
        </form>
    </div>
</section>
