<section class="container">
    <div>
        <h1>Ingresa tu email y contraseña <br> para iniciar secion</h1>
    </div>
    <div class="form-group">
        <form class="form" (ngSubmit)="login()">
            <div>
                <label for="email">E-mail</label><br>
                <input name="email" id="email" type="text" [(ngModel)]="authRequest.email" required>
            </div>
            <div>
                <label for="Password">Password</label><br>
                <input name="password" id="Password" type="text" [(ngModel)]="authRequest.password" required >
            </div>
            <input class="btn-continue" type="submit" value="Continuar">
            <div  class="line-with-o">
                <span>o</span>
            </div>
            <input class="btn-count" type="submit" value="Crear cuenta">
        </form>
    </div>
</section>
