<header >
    <nav class="nav-bar">
        <section class="block-1">
            <span class="logo">
                <img src="assets/images/iconPrincipal.png" alt="icon">
            </span>
            <div class="search-box">
                <input type="text" placeholder="Buscar productos, marcas y mas...">
                <span class="search-icon">
                    <span class="thin-line"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442 1.398a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z" />
                    </svg>
                </span>
            </div>
            <span class="logo">
                <img src="assets/images/descuento.png" alt="icon">
            </span>
        </section>
        <section class="block-2">
            <ul class="submenu1">
                <li><a href="">categorias</a></li>
                <li><a href="">ofertas</a></li>
                <li><a href="">cupones</a></li>
                <li><a href="">Supermercado</a></li>
                <li><a href="">moda</a></li>
            </ul>
            <ul class="submenu1">
                <li><a routerLink="register">Crea tu cuenta</a></li>
                <li><a routerLink="login">Ingresa</a></li>
                <li><a routerLink="login">carrito</a></li>
            </ul>
        </section>
    </nav>

</header>
