<footer>
    <section class="cont2">
        <div class="descriptions2">
            <ul>
                <li>Trabaja con nosostros</li>
                <li>Contactanos</li>
                <li>Terminos y condiciones</li>
                <li>Promosiones</li>
                <li>Accesibilidad</li>
            </ul>
            <ul>
                <li><small>&copy; 2024 Tu Empresa. Todos los derechos reservados.</small>
                </li>

            </ul>
        </div>
    </section>
    <section class="cont">
        <div class="descriptions">
            <article>
                <h3>Acerca de</h3>
                <ul>
                    <li><a href="">MercProd</a></li>
                    <li><a href="">Tendencias</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Public</a></li>
                </ul>
            </article>
            <article>
                <h3>Ayuda / PQR</h3>
                <ul>
                    <li><a href="">Comprar</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Resolución de problemas</a></li>
                    <li><a href="">Centro de seguridad</a></li>
                </ul>
            </article>
            <article>
                <h3>Redes sociales</h3>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">X</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </article>
            <article>
                <h3>Mi cuenta</h3>
                <ul>
                    <li><a href="">Ingresar</a></li>
                    <li><a href="">Crear otra</a></li>
                </ul>
            </article>
        </div>
    </section>
</footer>
