<div class="card flex justify-content-center">
    <p-image
        [src]="image!"
        [previewImageSrc]="image!"
        alt="Image"
        width="250"
        [preview]="true" />
</div>
<section class="main">
    <div class="container">
        <div class="form-group">
            <form [formGroup]="newUser" (submit)="createAccount()">
                <div class="avatar">
                </div>
                <h2>Registrar cuenta</h2>
                <div class="form-control">
                    <input type="text" placeholder=" " formControlName="name">
                    <label for="">Nombre</label>
                </div>
                <div class="form-control">
                    <input type="text" placeholder=" " formControlName="email">
                    <label for="">Email</label>
                </div>
                <div class="form-control">
                    <input type="text" placeholder=" " formControlName="password">
                    <label for="">Contraseña</label>
                </div>
                <div class="form-control">
                    <input type="text" placeholder=" " formControlName="repeatPassword">
                    <label for="">Repetir contraseña</label>
                </div>
                <div>
                    <input type="file" formControlName="avatar" (change)="selectImage($event)">
                </div>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </div>
</section>
